h1,h2,h3{
    color:rgb(255, 255, 255);
    font-weight: normal;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: initial;
    background-color: rgb(38, 0, 255);
}